---
id: verification
title: "Lab Verification"
hide_table_of_contents: true
pagination_label: "Lab Verification"
sidebar_label: Lab Verification
draft: false
---

1. Navigate to **Workspaces > CSM/FSM Configurable Workspace**.
![](../images/Picture4.png)

2. Click on the list module and then navigate to **Service Requests > All**.
![](../images/Picture5.png)

3.	Click **New** to begin a new Service Request case. Click in the **Service** field and type *light
![](../images/Picture6.png)

4.	Close the tab and do not save the record used for the lab verification.

Good job! You are done with the first lab verification!

