---
id: verification
title: "Lab Verification"
hide_table_of_contents: true
pagination_label: "Lab Verification"
sidebar_label: Lab Verification
draft: false
---

1.	Navigate to **Workspaces > CSM/FSM Configurable Workspace**.
![](../images/Picture24.png)

2. Click on the list module and then navigate to **Service Requests > All**.
![](../images/Picture5.png)

3. Click on **New** to open a new service request. 

4. Click on the **Details** tab to confirm if the fields are visible in the Request Details section
![](../images/Picture25.png)

5. Close the tab and do not save the record used for the lab verification.